body {
    margin: 0;
    height: 100vh;
    background: #000;
    /* cursor: none;  */
}

.neon-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #0ff;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;
}
